<div class="header">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-0" width="40" height="32"><img src="../static/images/header.png" alt="" height="35"></svg>
            <span class="fs-4">Lukáš Děkanovský</span>
            <p class="header_par">python developer junior</p>
        </div>

        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{{ url_for('porfolio_main')}}" class="nav-link" aria-current="page">Porfolio</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Blog</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Homepage</a>
            </li>
        </ul>
        </header>
    </div>
</div>